/*==========
GLOBAL STYLES
==========*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body {
    margin: 0;
    padding: 0;
    font-family: 'Sintony', sans-serif;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/cover.jpg');
    background-position: center left;
    background-size: cover;
    background-color: rgba(172, 220, 110, 0.26);
    margin: 0;
    padding: 50px;
    height: 80vh;
}

h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;

}

.h2 {
    font-size: 50px; 
    width: 80%;
    margin: 40px auto;
    padding: 20px;  
}

.h3 {
    font-size: 40px;
}

.h4 {
    text-align: left;
}

div.section {
    width: 80%;
    margin: 20px auto;
    display: flex;
}

ul {
    padding: 0;
    margin-top: 50px;
}


li {
    margin: 20px 0;
}

a {
    text-decoration: none;
    color: black;
}

.widget {
    padding: 20px;
}

.hidden {
    display: none;
}

/*==========
HEADER
==========*/
.food-search {
    text-align: center;
    max-width: 300px;
    margin: 0 auto; 
}

.food {
    display: flex;
    flex-direction: column;
}

.food-search p {
    font-weight: 700;
    font-size: 24px;
    color: white;
    text-shadow: 1px 1px 2px black;

}

input#js-food {
    margin-top: 40px;
    padding: 8px 12px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(50, 58, 84);
    border-radius: 5px;
}

input#js-food:focus {
    background: rgba(255, 255, 255, 1.0);

}


/*==========
TITLE
==========*/
.food-name {
    background: none;
}




/*==========
WIKI STYLES
==========*/
.wiki-img {
    width: 100%;
    max-width: 350px;
}

.results-info h2,
.results-info h3, 
.results-info h4{
    text-align: left;
}





/*==========
NUTRITION TABLE STYLES
==========*/
table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}





/*==========
RECIPE STYLES
==========*/
.recipe {
    background: rgba(233, 233, 233, 0.849);
    border-radius: 2px;
    padding: 10px;
    list-style: none;
    width: 100%;
}

label {
    display: block;
    text-align: left;
    margin-top: 12px;
}

.recipe img {
    width: 100%;
    margin-right: 40px;
}

p.labels {
    overflow-wrap: break-word;
}

.title a {
    font-size: 25px
}

.title a:hover {
    text-decoration: underline;
}

.source {
    font-style: italic;
}

.health-dropdown, .diet-dropdown, .num-input {
    font-size: 12px;
}

.recipe-content {
    padding-right: 40px;
}


/*==========
FOOTER
==========*/
footer {
    background-color: rgb(172, 220, 110);
    padding: 30px;
}

footer p {
    text-align: center;
    margin: 0;
    
}



/*==========
BUTTONS
==========*/
.wiki-link, .diet-submit, input#submit {
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.wiki-link, .diet-submit {
    background-color: rgb(50, 58, 84);  
    border: 1px solid rgb(50, 58, 84);
}

.diet-submit:hover, .wiki-link:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgb(50, 58, 84);
    color: rgb(50, 58, 84);
}

input#submit {
    border: 1px solid white;
    background-color: rgba(240, 248, 255, 0);
}

input#submit:hover {
    background-color: rgb(50, 58, 84);  
    border: 1px solid rgb(50, 58, 84);
    color: white
}

/*==========
ERRORS
==========*/
.error {
    padding: 20px 20px;
    margin: 40px 0;
    font-size: 20px;
    background-color: rgba(255, 0, 0, 0.144);
    border-radius: 3px;
    height: 100px;
}



/*==========
MEDIA QUERIES
==========*/
@media (min-width: 768px){
    h1 {
        font-size: 75px;
    }
    .food-search {
        max-width: 350px;
    }
    .food-search p {
        font-size: 28px;
    }
    .recipe img {
        width: 300px;
    }
    .recipe {
        display: flex;
    }
    .health-dropdown, .diet-dropdown, .num-input {
        font-size: 16px;
    }
}

@media (min-width: 1100px) {
    h1 {
        font-size: 90px;
    }
    .food-search p {
        font-size: 30px;
    }
    .h2 {
        text-align: center;
    }
    .top-row-flex {
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    .nutrition-facts h3 {
        margin-top: 0;
    }
    .results-info {
        padding-right: 60px;
    }
    .nutrition-facts{
        padding-left: 60px;
    }
    .recipe h3 {
        margin-top: 40px;
    }
    .widgit {
        padding: 0px 30px;
    }
    .h4 a {
        font-size: 35px;
    }
    .recipe-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .recipe-content p {
        font-size: 18px;
    }
}